[include moonraker_obico_macros.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_48001F000E50535556323420-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 375  
max_accel: 17500            
max_z_velocity: 20          # Can go higher, but above 21/22 it gets too loud
max_z_accel: 350
square_corner_velocity: 8.0

[exclude_object]

[gcode_arcs]
resolution: 0.25
[force_move]
enable_force_move: True

[pause_resume]
recover_velocity: 300

[auto_speed]
[endstop_phase]

# ---

[axis_twist_compensation]
calibrate_start_x: 30
calibrate_end_x: 320
calibrate_y: 175
calibrate_start_y: 30
calibrate_end_y: 320
calibrate_x: 175
horizontal_move_z: 50

# ---

[include nitehawk.cfg]

# ---

[include timelapse.cfg]

# ---

[include stepper.cfg]
[include extruder.cfg]

[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]

[include autotune_steppers.cfg]

[include heat_bed.cfg]

[include mainsail.cfg]

[include probe.cfg]
[settling_probe]


[include qgl.cfg]
[include z_calib.cfg]
[include bed_mesh.cfg]
[include klicky-probe.cfg]

[include shaper.cfg]

[include fans.cfg]
[include leds.cfg]
[include sensors.cfg]
[include runout_sens.cfg]

[include speedtest_macro.cfg]
[include macros.cfg]

[include KAMP_Settings.cfg]
#[include ./KAMP/Adaptive_Meshing.cfg]
[include ./KAMP/Line_Purge.cfg]
[include ./KAMP/Smart_Park.cfg]
#[include ./KAMP/Voron_Purge.cfg]

[include auto_off.cfg]
[include auto_git_backup.cfg]

[include startup.cfg]

[stepper_z]
#position_endstop: 1.972

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.062982, 0.004518, 0.015143, 0.015768, -0.058294
#*# 	-0.036732, -0.001732, -0.016732, -0.021419, -0.086419
#*# 	-0.020169, 0.005768, 0.000456, -0.004544, -0.063919
#*# 	-0.044857, -0.022044, 0.003581, -0.020169, -0.078294
#*# 	0.016081, 0.063268, 0.092018, 0.092956, 0.062018
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 330.0
#*# min_y = 30.0
#*# max_y = 330.0
#*#
#*# [stepper_z]
#*# position_endstop = 4.893
#*#
#*# [endstop_phase stepper_z]
#*# trigger_phase = 90/256
#*#
#*# [endstop_phase stepper_x]
#*# trigger_phase = 9/128
#*#
#*# [endstop_phase stepper_y]
#*# trigger_phase = 30/128
#*#
#*# [axis_twist_compensation]
#*# z_compensations = 0.047500, -0.024062, -0.023437
#*# compensation_start_x = 30.0
#*# compensation_end_x = 320.0
