#####################################################################
#   Probe
#####################################################################

##  Inductive Probe
##  This probe is not used for Z height, only Quad Gantry Leveling
#[probe]
#pin: PG15
#pin: nhk:gpio10
#x_offset: -1
#y_offset: 19.75
#z_offset: 6.42
#speed: 6
#samples: 4 
#samples_result: median
#sample_retract_dist: 1.6
#samples_tolerance: 0.032
#samples_tolerance_retries: 5

[safe_z_home]
home_xy_position: 175, 175
speed: 300.0
z_hop: 5
z_hop_speed: 15.0

[probe] ## Other parameters in config.cfg
pin: !nhk:gpio10
x_offset: 0.0
y_offset: 0.0
z_offset: 0.0
speed: 7.6 #   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
samples: 2
sample_retract_dist: 3.0
samples_tolerance: 0.032
samples_tolerance_retries: 1
lift_speed: 12
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT=0.4
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=0.4
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=0.4
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT=0.4
deactivate_gcode:
    {% set run_current = printer.configfile.config['tmc2209 stepper_z'].run_current | float %}
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={run_current}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={run_current}
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={run_current}
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT={run_current}
    

#[settling_probe]
#settling_sample: True